#exercises {
    width: 100%;

    #filters {
        .row {
            margin: 0;
        }

        .search {
            padding: 0;

            input {
                width: 100%;
                background: rgba(0, 0, 0, .2);
                border: none;
                padding: 10px 20px;
                font-size: 1.2rem;
                color: #777;
            }
        }

        .filters {
            padding: 0;

            .fa {
                height: 50px;
                line-height: 50px;
                text-align: center;
                vertical-align: bottom;
                display: inline-block;
                width: 100%;
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                button {
                    color: #c1c1c1;
                    background: transparent;
                    padding: 5px 10px;
                    border: 1px solid;
                    border-radius: 5px;
                    margin: 5px;
                    font-size: .7rem;
                }
            }
        }
    }

    .exercises {
        margin: 0;

        .row,
        .col {
            margin: 0;
            padding: 0;
        }

        .image {
            padding: 0;

            img {
                width: 100%;
                max-width: 200px;
                opacity: .7;
            }
        }

        .info {

            h3 {
                font-size: 1rem;
                padding-top: 3px;
            }

            .meta {
                span {
                    background: $secondary;
                    padding: 0px 13px;
                    font-size: .7rem;
                    color: $primary-dark;
                    font-weight: 500;
                }
            }
        }
    }

    .exercises:nth-child(odd) {
        background: rgba(0, 0, 0, .3);
    }

    .exercises:nth-child(even) {
        background: rgba(0, 0, 0, .23);
    }

    #accordionGroup {
        .card {
            border: none;
            background: transparent;

            #heading {
                padding: 0;
                border: none;
                border-bottom: 1px solid $primary;

                .btn {
                    width: 100%;
                    color: #eee;
                    background: $primary-light;
                    ;
                    height: 50px;
                    font-size: .8rem;
                    font-weight: 100;
                    text-align: left;
                    text-transform: unset;

                    &:hover {
                        text-decoration: none;
                    }

                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }

        .card-body {
            padding: 0;
            background: $primary;

            .paper {
                margin: 0
            }
        }

        #accordionWorkout {
            .repetitions {
                float: left;
                margin: 0 5px 10px 0;
                padding: 9px 17px;
                background-color: rgba(255, 255, 255, .01);
                cursor: pointer;
                font-size: 12px;
            }

            button {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 768px) {
    #exercises {
        .exercises {
            padding: 10px 5px;
            margin: 0;

            .row,
            .col {
                margin: 0;
                padding: 0;
            }

            .image {
                padding: 0;

                img {
                    width: 100%;
                    max-width: 200px;
                    opacity: .7;
                }
            }

            .info {

                h3 {
                    font-size: 1rem;
                    padding-top: 3px;
                }

                .meta {
                    span {
                        background: $secondary;
                        padding: 0px 5px;
                        font-size: .7rem;
                        color: $primary-dark;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}


$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();

@for $i from 0 through $particles {
    $box-shadow: $box-shadow,
        random($width)-$width / 2 + px random($height)-$height / 1.2 + px hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff
}

@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

.pyro>.before,
.pyro>.after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro>.after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
    to {
        box-shadow: $box-shadow;
    }
}

@include keyframes(gravity) {
    to {
        @include transform(translateY(200px));
        opacity: 0;
    }
}

@include keyframes(position) {

    0%,
    19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }

    20%,
    39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }

    40%,
    59.9% {
        margin-top: 20%;
        margin-left: 70%
    }

    60%,
    79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }

    80%,
    99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}