#blog {
    padding-bottom: 60px;
    section {
        margin: 15px;
        border-bottom: 1px solid rgba(255,255,255,0.04);
    }

    h2,
    p {
        color: $wh;
    }

    .date {
        color: $gr;
    }

    .marks {

        margin: 7px 0px;

        .marked {
            font-size: 70%;
            font-weight: 500;
            padding: 1px 10px;
            margin-right: 5px;
            background-color: $wh;
            color: $primary;
        }

    }

    

    

    .important {
        background-color: $primary-light;

        .marks {

            .marked {
                background-color: $wh;
                color: $primary;
            }

        }



        
    }
}