#post {
    position: relative;
    padding-bottom: 50px;

    .form-group {
        padding: 20px;

        .form-control {
            color: #ccc;
            background-color: rgba(255, 255, 255, 0.01);
            border: none;
            padding: 20px;
            border-radius: 0;
        }
        select {
            padding: 17px !important;
            height: 59px;
        }
        label {
            font-weight: 300;
        }
        option {
            color:  #252830;
            font-weight:bold;
            padding:5px
        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            text-transform: lowercase;
        }
        ::-moz-placeholder { /* Firefox 19+ */
        text-transform: lowercase;
        }
        :-ms-input-placeholder { /* IE 10+ */
            text-transform: lowercase;
        }
        :-moz-placeholder { /* Firefox 18- */
            text-transform: lowercase;
        }
        #summary {
            height: 66px;
            padding: 20px;
        }
        #body {
            height: 450px;
        }
    }
    
    .toggleFeatures {
        button {
            margin-left: 10px;
        }
    }
    

    @-moz-keyframes blink {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @-webkit-keyframes blink {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    @keyframes blink {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .vdp-datepicker  {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.01);
         color: #eee;
        input {
            width: 100%;
            padding: 15px;
            color: #eee;
            background-color: rgba(255, 255, 255, 0.01);
            border: none;
        }
        .vdp-datepicker__calendar {
            position: absolute;
            top: -400%;
            left: 10%;
            width: 100%;
            z-index: 100;
            background-color: rgb(39, 45, 72);
            width: 80%;
            border: none;
        }
    }
    #blogPreview {
        padding-top: 0;
        min-height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;

        .child {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
            overflow-y: scroll;

            header {
                margin-bottom: 10px;
            }
            #summary {
                margin-bottom: 10px;
                font-style: italic;
            }
            #blogPreviewBody {
                padding-right: 40px;
            }
        }
    }
}