#tickets {
     padding: 15px;
     padding-bottom: 80px;
     
     .paper {
          margin-bottom: 5px;
     }

     .marked {
          font-size: 50%;
          padding: 2px 7px;
          border-radius: 5px;
          margin-right: 5px;
          background-color: #b0b0d4;
          color: #242a46;
}
}