#admin {
    color: #eee;
    height: 100%;

    hr {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .btn {
        padding: 8px 25px;
        border: none;
        border-radius: 0;

        a {
            color: $background;
        }
    }
    .btn-danger {
        color: #5b6477;
        border: none;
        background-color: #191d31;

        &:hover {
            background-color: #c15353;
            color: #eee;
        }
    }
    .btn-primary {
        background-color: $btn-primary;
        border: none;
        
        
        &:hover {
            background-color: $btn-primary-light;
        }
    }
    .btn-dark {
        color: $primary-light;
        
        background-color: rgba(255, 255, 255, 0.01);
        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }
    .btn-dark.active {
        color: $primary;
        background-color: $btn-primary !important;
    }
    .selectPlaceholder {
        color: #ccc;
    }
    .btn-disabled {
        background-color: #ccc;
        &:hover {
            background-color: #ccc;
        }
    }
    .modal {
        color: #666;
        .form-control {
            color: #333;
            background-color: #fff;
            border: 1px solid #ced4da;
            padding: 0.375rem 0.75rem;
            border-radius: 5px;

        }
        input::placeholder {
            color: #ccc;
        }
        .btn-danger {
            color: #fff;
            background-color: #c19f9f;
            &:hover {
                background-color:  #c15353;
            }
        }
    }
    .paper {
        padding: 2rem;
        background:$primary-dark;
        h3 {
            font-weight: 200;
        }
    }
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #666;
        opacity: 1; /* Firefox */
    }
    .fa {
        color: #666;
        cursor: pointer;
        font-size: 33px;
        &:hover {
            color: #ccc;
        }
    }
}
