@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,700');

html,
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: #252830;
    letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 200;
}
a {

    &:hover {
        text-decoration: none;
    }
}
button {
    letter-spacing: 1px;
}
::-webkit-scrollbar {
    display: none;
}
#dashboard {
    height: 100%;
}
.padding {
    padding-bottom: 1rem;
}

.no-padding {
    padding: 0 !important;
}

.content {
    transition: margin .3s;
}

.admin-open {
    margin-left: 200px;
}
.modal-content {
    .btn-primary {
        background-color: #0e3a57;
        border: none;
        color: white !important;

        &:hover {
            background-color: #7194be;
        }
    }
}

