.drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 1000;
    background-color: $primary-dark;

    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
    }

    .navbar {
        background-color: transparent !important;
        color: #ccc !important;

        a {
            color: #c2cade;
        }

        .navbar-user {

            .img {
                position: relative;

                img {
                    width: 100%;
                }

            }

            .info {
                padding-left: 0px;

                h2 {
                    font-size: 14px;
                    font-weight: bold;
                    overflow: hidden;
                    margin: 0;
                    padding-top: 7px;
                }

                h3 {
                    font-size: 12px;
                    overflow: hidden;
                    margin: 0;
                    padding-top: 4px;
                }


            }

        }
    }
}