
$primary-light: #36393f;
$primary: #2f3136;
$primary-dark: rgba(32, 34, 37,1);
$secondary: #b8d2c7;


$btn: #2e3658;
$btn-hover: #39426b;
$btn-active: #4c578c;

$btn-primary: #9198b5;
$btn-primary-light: #8776b9;
$btn-primary-dark: #616679; 