
$primary-light: #b0b0d4;
$primary: #242a46;
$primary-dark: rgba(33, 39, 64, 0.4);;


$btn: #2e3658;
$btn-hover: #39426b;
$btn-avtive: #4c578c;

$btn-primary: #2e3658;
$btn-primary-light: #8776b9;

$background-dark:#252830;
$background: #292d35;
$background-light: #313640;